.addEvent-container {
  min-height: 100vh;
  height: auto;
  background-color: rgb(206, 146, 248);
  position: relative;
}

.addEvents {
  border-radius: 20px;
  width: 40%;
  box-shadow: 3px 4px 10px rgb(36, 31, 41);
  padding: 40px;

  position: absolute;
  top: 5%;
  left: 30%;
  background-color: #690866;
}
