.upload-container {
  min-height: 100vh;
  height: auto;
  background-color: rgb(206, 146, 248);
  position: relative;
}
.uploads {
  border-radius: 20px;
  width: 40%;
  box-shadow: 3px 4px 10px rgb(36, 31, 41);
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: #690866;
}
.upload-btn {
  margin: 20px;
  padding: 25px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 700;
  background-color: rgb(206, 146, 248);
  color: #fff;
}

.upload-btn:hover {
  background-color: rgb(200, 128, 252);
}
