.card {
  background-color: indigo;
  margin: 40px;
  object-fit: cover;
  width: 550px;
  color: aliceblue;
  box-shadow: 5px 10px 8px #3b0539;
}
.images {
  width: 550px;
}

.card__content {
  padding: 30px;
}

.card__text {
  padding: 15px;
}

.card:hover {
  transform: scale(1.035);
  cursor: pointer;
}
