.faculty__container{
    padding-top: 15vh;
    background-color: rgb(202, 255, 237);
}

.faculty__head{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: teal;
    padding: 20px 0;
}

.faculty__description{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: teal;
    padding: 20px 0;
    margin-bottom: 30px;
}

.faculty__card_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    padding: 20px;
}

.faculty__card{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgb(0, 67, 70);
    border-radius: 10px;
}

.faculty__card_img , .faculty__card_details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    flex-direction: column;
}

.faculty__card_img img{
    width: 110px;
    height: auto;
    border-radius: 5px;
}

.faculty__card_details h2, p{
    margin: 2% 0;
}

.faculty__card_details button{
    border: none;
    background: none;
    border-radius: 20px;
    box-shadow: 0 0 3px darkslategrey;
    margin: 10px 0;
    padding: 10px 15px;
}

.faculty__card_details button:hover{
    cursor: pointer;
    background-color: teal;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 5px darkslategrey;
}