.footer {
  padding: 20px;
  background-color: rgb(61, 2, 104);
}

.form__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.input__field {
  border-style: none;
  background-color: rgb(61, 2, 104);
  border-bottom: 4px solid #3b0539;
  width: 500px;
  font-size: 25px;
  border-radius: 10px;
}

.input__btn {
  margin-top: 15px;
  background-color: rgb(167, 92, 221);
  color: aliceblue;
  padding: 11px;
  font-weight: 700;
  font-size: 25px;
  border-style: none;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #3b0539;
}

.input__btn:hover {
  cursor: pointer;
}

.icons {
  margin: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
}
.social {
  padding: 7px;
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 20px;
}

.social:hover {
  opacity: 0.7;
}
.social-facebook {
  background: #3b5998;
  color: white;
  box-shadow: 5px 10px 8px #3b0539;
}

.social-twitter {
  background: #55acee;
  color: white;
  box-shadow: 5px 10px 8px #3b0539;
}

.social-google {
  background: #dd4b39;
  color: white;
  box-shadow: 5px 10px 8px #3b0539;
}
.social-linkedin {
  background: #007bb5;
  color: white;
  box-shadow: 5px 10px 8px #3b0539;
}
.copyright {
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
