@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.home-bg {
  text-align: center;
  color: indigo;
}
.home-content {
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.accordian-holder {
  width: 80%;
  margin: 0 auto;
}
.accord {
  padding: 20px;
  margin-bottom: 30px;
}

.accord-header {
  color: indigo;
  font-weight: 800;
}

.crousel-holder {
  margin-top: 30px;
  background-color: rgb(216, 183, 240);
  margin-bottom: 60px;
}

.news-holder {
  margin: 0 auto;
}

.news-holder > h1 {
  margin: 40px 0px;
}
