.nav__container {
  position: sticky;
  top: 0;
  padding: 40px;
  height: 45px;
  z-index: 1;
  background-color: rgb(247, 242, 242);
  margin-bottom: 0px;

  /*Animations*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: fixed;
  top: 6.5px;
  left: 0;
  width: 300px;
  cursor: pointer;
  padding-left: 20px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 15px;
  width: 45px;
  top: 15px;
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 7%;
  top: 12px;
  margin-top: 5px;
}

.nav__list_item {
  color: indigo;
  margin-left: 30px;
  text-decoration: none;
  padding: 3px;
}
.nav__list_item:hover {
  background-color: rgb(78, 6, 129);
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  box-shadow: 4px 6px 5px #bda6bc;
}
